.authLink {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.7;
    color: #fff;
    white-space: nowrap;
    transition: all 0.2s;
    text-transform: uppercase;
    padding: 0;
    position: relative;
}
/* .authLink   {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 50%;
    right: 50%;
    height: 2px;
    background: #fff;
    transition: all 0.3s;
} */
.ctm {
    border: none !important;
    line-height: 1.5 !important;
}
.custom a:hover,
.authLink:hover {
    color: black;
}
.main-content {
    margin-top: 100px;
}
.statuss {
    background: green;
    padding: 0px 10px;
    color: white;
    border-radius: 15px;
}
#myTable_paginate {
    position: absolute;
    right: 20px;
    margin-top: -30px;
    /* width: 235px; */
}
#myTable_previous {
    background: #f2f2f2;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}
.paginate_button.current {
    padding: 5px;
    background: #f2f2f2;
    margin: 5px;
    border-radius: 10px;
    color: black;
    cursor: auto;
}
.paginate_button {
    padding: 5px;
    background: #f2f2f2;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}
#myTable_next {
    color: black;
}
#myTable_filter {
    position: absolute;
    right: 15px;
    margin-top: -75px;
}
@media only screen and (min-width: 1200px) {
    .next.text-right.cp.mr-3,
    .submit.text-right.cp.mr-3 {
        position: absolute;
        right: -90px;
    }
}
.content-img-plugin strong {
    font-size: 25px;
}
.submit.text-right.cp.mr-3 {
    position: absolute;
    margin-top: -50px;
}
.content-img-plugin {
    cursor: pointer;
}
@media only screen and (max-width: 767px) {
    .authLink {
        font-size: 14px;
    }
    .ctm.authLink.pr-3 {
        font-size: 14px;
    }
    .content-text .title-plugin {
        text-align: center;
        margin-top: 20px;
    }
    .content-text h3 {
        text-align: center;
    }
    .logo img {
        margin-left: 0px;
        max-width: 115%;
    }
    .fixed .menu-mobile-effect.navbar-toggle {
        right: 25px;
    }
}

.button-eduma {
    padding: 10px 0 0 0;
    position: relative;
    display: inline-block;
}
.ct .content-img-plugin {
    border: 1px solid #cdd6d9;
}
.w-100 {
    width: 100%;
}
.btn.btn-primary.w-100 {
    background: white;
    color: black;
    border: 1px solid #eae4e4;
}
.sub-part img {
    padding: 5px;
    border-radius: 50%;
    width: 135px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.educationMetarial .content-img-plugin {
    min-height: 480px;
}

.educationMetarial
    .thim-block-plugin-home
    .container-content
    .row-content
    .content-img
    .pd-content
    .content-img-plugin
    .hover-img-plugin
    a
    img {
    border-radius: 50%;
    width: 100px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.educationMetarial strong {
	word-wrap: break-word;
}